.photoContainer {
    display: flex;
    align-items: center;
    margin: 2% 2% 0 2%;
    padding: 2% 2% 0 0;
}

.mainDataContainer {
    font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    color: #666666;
}

.photo {
    background: transparent;
}

.profile_info {
    padding: 2px;
}