#addCommentSection {
    display: flex;
    align-items: center;
    margin: 1%;
    margin-top: 5rem;
}

#phrase_container {
    border-bottom: 1px solid gray;
    width: 65rem;
    margin-left: 1rem;
}

#question {
    padding: 2px;
}



