#addCommentSection {
    display: flex;
    align-items: center;
    margin: 1%;
    margin-top: 1rem;
    width: 100%;
}

#phrase_container {
    border-bottom: 1px solid #66666647;
    margin-left: 1rem;
}

#question {
    padding: 4px;
    font-family: 'Noto Sans', sans-serif;
    color: #666666;
}

/* Media query for big devices (more than 900px) */
@media screen and (min-width: 992px) {
    #question {
        width: 65rem;
    }
}

/* Media query for medium devices (tablets, 800px and down) */
@media screen and (max-width: 800px) {
    #question {
        width: 35rem;
    }
}

/* Media query for small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
    #question {
        width: 19rem;
    }
}
