* {
    margin: 0;
    padding: 0;
}

.elementsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.comments_container {
    background-color: #FFEDDA4C;
    padding-bottom: 3%;
}

#comments {
    font-family: 'Montserrat', sans-serif;
    color: #604731;
    padding: 1.5rem;
}

.first_text {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-left: 6%;
}

#second-comment {
    width: 95%;
    justify-self: flex-end;
    margin-left: 5%;
}

#second_text {
    margin-left: 6.3%;
    width: 85%;
}

#send_container_two {
    display: flex;
    align-items: center;
}

#button_send_container {
    display: flex;
    margin-top: 1%;
    margin-left: 4%;
    width: 0%;
}